@import url("https://fonts.googleapis.com/css?family=Karla");
* {
  margin: 0;
  padding: 0;
}
.header {
  text-align: center;
  margin: 0px;
  margin-top: 20px;
  color: #707070;
  font-family: "Raleway", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
  margin: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.blueblock {
  background-color: blue;
  margin-top: 20px;
  width: 100%;
  height: 500px;
}
.redblock {
  background-color: red;
  margin-top: 20px;
  width: 100%;
  height: 30px;
}
.greenblock {
  background-color: green;
  margin-top: 20px;
  width: 100%;
  height: 60px;
}
.rightcolumn {
  flex: 60%;
  max-width: 65%;
  padding: 0 4px;
  margin-top: 8px;
  vertical-align: middle;
}
.leftcolumn {
  flex: 35%;
  max-width: 35%;
  padding: 0 4px;
  margin-top: 8px;
  vertical-align: middle;
}

@media (max-width: 900px) {
  .leftcolumn,
  .rightcolumn {
    min-width: 100%;
  }
}
.nav-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  vertical-align: middle;
}
.nav-column:hover {
  transform: scale(1.2);
}
.nav-column {
  flex: 20%;
  max-width: 20%;
  text-align: center;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.imgreset {
  width: 25%;
  margin: 20px 0px;
}
.white-container {
  color: #000;
  background-color: #fff;
}
.card {
  margin-top: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.row > div {
  margin: 10px;
}
.card > div {
  margin: 0;
}
h2 {
  margin: 0;
}
.card-right {
  height: 500px;
  margin-top: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}
.paragraph {
  padding: 0px 20px 10px 0px;
  line-height: 25px;
}
.card-header {
  padding: 10px 20px 0px 0px;
}
.read-more {
  padding: 10px 20px;
}
.adjust {
  padding: 0 0 10px 20px;
}
.footer {
  background-color: grey;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 16px;
}
.center {
  display: block;
  text-align: center;
}
.center2 {
  vertical-align: middle;
}
.prev-next {
  padding: 0px 30px;
}
.sub {
  background-color: red;
  color: white;
}
.spacebottomtop {
  margin: 20px 0px;
}
.yt {
  padding-bottom: 30px;
}
.subscribebutton {
  padding: 8px 15px;
  border-radius: 5px;
}
.introdescription {
  font-family: "Karla", sans-serif;
}
.paragraphfont {
  font-family: "Karla", sans-serif;
}

/*IMAGE SLIDER*/

#slider {
  overflow: hidden;
  width: 100%;
}
#slider figure img {
  float: left;
  width: 20%;
  /* height: 600px;*/
}
#slider figure .image-container {
  float: left;
  width: 20%;
}

#slide1-background {
  background-image: url("pic1.png");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
}
#aboutme {
  background-color: #cccccc;
  width: 100%;
  position: absolute;
  top: 50%;
  margin: 0 0 0 80px;
  width: 300px;
}
hr {
  display: block;
  margin: 10px 0 2px 0;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
#slider figure {
  position: relative;
  height: auto;
  width: 500%;
  margin: 0;
  left: 0;
  transition: 1s ease-in-out;
}

.btn-next,
.btn-prev {
  position: absolute;
  top: 45%;
  cursor: pointer;
  color: white;
  background: #3949ab;
  padding: 20px;
  font-size: 50px;
  border: none;
}
.btn-prev {
  left: 0px;
}
.btn-next {
  right: 0px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}

/* end of image slide */
item1 {
  grid-area: header;
  background-color: rgba(255, 255, 255, 0.8);
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu menu main main right right"
    "menu menu footer footer footer footer";
  grid-gap: 0 0 0 0;
  padding: 10px;
  margin: 0 0 0 70px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 60px 0;
  font-size: 30px;
}

.image-container {
  position: relative;
  text-align: center;
  width: 100%;
}

.image-container .header1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  margin: 0px;
  margin-top: 20px;
  color: #707070;
  font-family: "Raleway", sans-serif;
}
.image-container p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  width: 70%;
}
@media screen and (max-width: 1100px) {
  .image-container p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
  }
}

.image-container video {
  width: 100%;
  height: auto;
}

.image-container #imggc {
  position: absolute;
  width: 30%;
  margin: 0px;
  left: 35%;
  top: 20%;
  z-index: 2;
}
