* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  display: block;
}

#top {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.overlay {
  display: inline-block;
  position: relative;
}
.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 45%;
  font-size: 18px;
  color: red;
}

#gone {
  opacity: 0;
}
