* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.carousel-container {
  margin: auto;
  border: 5px solid black;
}

.carousel-slide {
  border: 5px solid blue;
  position: relative;
  width: 700%;
}
.carousel-slide img {
  width: 14.27%;
  height: 500px;
  float: left;
}
#prevBtn {
  position: absolute;
  top: 250px;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: white;
  background-color: purple;
  cursor: pointer;
}
#nextBtn {
  position: absolute;
  z-index: 10;
  top: 250px;
  right: 5%;
  font-size: 30px;
  color: white;
  background-color: purple;
  cursor: pointer;
}
